body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.content {
    max-width: 50%;
}

.highlight {
    color: red;
    font-size: 20px;
}

h1 {
    font-size: 60px;
    margin: 0;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
}

.contact-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.image {
    max-width: 50%;
    padding-top: 5px;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
